@tailwind base;
@tailwind components;
@tailwind utilities;

.circbg{
  background-image:radial-gradient(circle at 65% 20%,
  rgba(232,252,251,1) 0%, rgba(254,249,243,1) 20%,
  rgba(251,240,252,1) 40%, rgba(255,255,255,1) 55%);
}

.blurbg{
  background-color:rgba(100, 100, 100, 0.15);
  width:100%;
  height:100%;
  top:0;
  left:0;
  position:fixed;
  backdrop-filter:blur(2px);
  z-index:50;
}

.modalcenter{
  transform: translate(-50%, 0);
  position:relative;
  left:50%;
  z-index:100;
}

.inputfield-text{
  font-size: 0.85em;
  color: rgba(30, 30, 30, 0.9)
}

.title-text{
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.9);
  text-align:center;
}

.subtitle-text{
  font-size: 0.9em;
  color: rgba(70, 70, 80, 0.9);
  text-align:center;
}

.submit-text{
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.9);
  text-align:center;
}

.language-options-text{
  font-size: 0.9em;
  color: rgba(30, 30, 30, 0.9);
  text-align:left;
}

@keyframes antblue-fade{
  0%{
    background-color:theme('colors.antblue');
  }
  100%{
    background-color:theme('colors.antbluelight');
  }
}

.antblue-button{
  height:1.95em;
  background-color:theme('colors.antblue');
  transition: 0.1s;
}

.antblue-button:hover{
  animation: antblue-fade 0.1s;
  background-color:theme('colors.antbluelight');
}

@keyframes blueify{
  0%{
    width: 0;
    background-color:theme('colors.paleblue');
    transform: translateX(0);
  }
  100%{
    width: 300px;
    background-color:theme('colors.palepaleblue');
    transform: translateX(-150px);
  }
}

@keyframes blueify-small{
  0%{
    width: 0;
    background-color:theme('colors.paleblue');
    transform: translateX(0);
  }
  100%{
    width: 200px;
    background-color:theme('colors.palepaleblue');
    transform: translateX(-100px);
  }
}

@keyframes blueify-border{
  0%{
    border-color:transparent;
  }
  100%{
    border-color:theme('colors.antbluetrans')
  }
}

.inputfield{
  height:1.95em;
  outline:none;
  border:solid 1px transparent;
  z-index:2;
  transition: 0.3s cubic-bezier(.12,.84,.28,.94);
}

.container{
  position:relative;
  display:flex;
}

.inputfield:focus + .inputfield-above{
  animation: blueify 0.3s;
  width: 300px;
  background-color:theme('colors.palepaleblue');
  transform: translateX(-150px);
}

.inputfield:focus + .inputfield-small-above{
  animation: blueify-small 0.3s;
  width: 200px;
  background-color:theme('colors.palepaleblue');
  transform: translateX(-100px);
}

.inputfield:focus{
  animation: blueify-border 0.3s;
  border-color: theme('colors.antbluetrans')
}

.inputfield-below{
  position:absolute;
  top:0;
  left:0;
  height:1.95em;
}

.inputfield-above{
  position:absolute;
  top:0;
  left:150px;
  width:0;
  height:1.95em;
  transition: 0.3s cubic-bezier(.12,.84,.28,.94);
  z-index:1;
}

.inputfield-small-above{
  position:absolute;
  top:0;
  left:100px;
  width:0;
  height:1.95em;
  transition: 0.3s cubic-bezier(.12,.84,.28,.94);
  z-index:1;
}

.language-selector{
  position:fixed;
  left: 100%;
  top: 0%;
  transform: translate(-100%, 0%) translateX(-0em);
  z-index:105;
}

.language-button{
  position:relative;
  z-index:105; 
  border: none;
  outline: none;
}

.language-options{
  display:none;
  position:relative;
  transform: scaleY(0);
  transform-origin:top;
  z-index:110; 
  transition: 0.3s cubic-bezier(.12,.84,.28,.94);
}

@keyframes lb-stretch{
  0%{
      transform: scaleY(0);
  }
  100%{
      transform: scaleY(1);
  }
}

.language-selector:hover .language-options {
  display:flex;
  animation: lb-stretch 0.3s;
  transform: scaleY(1);
}

.authtype-underline{
  border-color:rgba(70, 70, 80, 0.3);
}

.login-selector-trans{
  animation: login-selector-trans-animation 0.3s linear;
}

@keyframes login-selector-trans-animation{
  0%{
    transform:scale(1);
    border-color:transparent;
  }
  25%{
    transform:scale(1.08);
  }
  50%{
    transform:scale(1);
  }
  100%{
    transform:scale(1);
    border-color:theme('colors.antblue');
  }
}

.getcode-button{
  transition: 0.3s cubic-bezier(.12,.84,.28,.94);
  border-width:1px;
  background-color: theme('colors.paleblue');
  color: rgba(70,70,80,0.9);
}

.getcode-button:hover{
  animation: getcode-button-outline 0.3s;
  border-color: theme('colors.lagoonbluetrans');
  background-color: theme('colors.aquabluetrans');
  color: theme('colors.antblue');
}

@keyframes getcode-button-outline{
  0%{
    border-color: rgba(70,70,80,0.9);
    background-color: theme('colors.paleblue');
    color: rgba(30, 30, 30, 0.9)
  }
  100%{
    border-color: theme('colors.lagoonbluetrans');
    background-color: theme('colors.aquabluetrans');
    color: theme('colors.antblue');
  }
}

.barwidth{
  width:300px;
}
